<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BinaryName" value="StockApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  
    <add key="IYahooProvider" value="StockApp.Provider.YahooStock.YahooProvider"/>
    <add key="IGoogleProvider" value="StockApp.Provider.GoogleStock.GoogleProvider"/>
    <add key="ICurrentVolumeProvider" value="StockApp.Provider.GoogleFinancePage.GoogleFinancePageProvider"/>
    <add key="IExDividendDateProvider" value="StockApp.Provider.NasdaqDividend.NasdaqDividendDateProvider"/>
    <add key="IEarningsDateProvider" value="StockApp.Provider.YahooEarnings.YahooEarningsProvider"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>